{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Crowd Funding</title>

        <!-- style bootstrap -->
        <link
            rel="stylesheet"
            href="{% static 'home/bootstrap/css/bootstrap.css' %}"
        />

        <!-- my style -->
        <link rel="stylesheet" href="{% static 'home/css/styles.css' %}" />

        <!-- style fontawesome -->
        <link
            href="{% static 'fontawesomefree/css/fontawesome.css' %}"
            rel="stylesheet"
            type="text/css"
        />
        <link
            href="{% static 'fontawesomefree/css/brands.css' %}"
            rel="stylesheet"
            type="text/css"
        />
        <link
            href="{% static 'fontawesomefree/css/regular.css' %}"
            rel="stylesheet"
            type="text/css"
        />
        <link
            href="{% static 'fontawesomefree/css/solid.css' %}"
            rel="stylesheet"
            type="text/css"
        />
        <style>
            .backg {
                background-image: url("https://imgs.search.brave.com/UCy7MvOdBEUgZpg3lYbBAVPzprVGDX94adPz4Tkh4cw/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9lMS5w/eGZ1ZWwuY29tL2Rl/c2t0b3Atd2FsbHBh/cGVyLzcwNi82OTAv/ZGVza3RvcC13YWxs/cGFwZXItcGluLW9s/ZWgtbWFyaWEtdmFu/ZGVybGljZS1kaS13/aGF0c2FwcC1mb3It/aXBob25lLWFlc3Ro/ZXRpYy13aGF0c2Fw/cC10aHVtYm5haWwu/anBn");

                background-repeat: no-repeat;
                background-size: cover;
            }

        </style>
    </head>

    <body class="bg-dark backg">
        <!-- header -->
        {% include 'home/partials/header.html' %}

        <!-- main content -->
        <main class="p-3 text-bg-dark">{% block content %} {% endblock %}</main>

        <!-- footer -->
        {% include 'home/partials/footer.html'%}

        <!-- script bootstrap -->
        <script src="{% static 'home/bootstrap/js/bootstrap.js' %}"></script>
        <script src="{% static 'home/js/metro.min.js' %}"></script>

        <!-- my script -->
        <script src="{% static 'home/js/script.js' %}"></script>
    </body>
</html>
