{% extends 'home/base.html' %}

<!-- content -->
{% block content %}

<div class="container">
    <div class="row m-5">
        <div class="col-6 d-flex justify-content-center align-items-center">
            <h1>Get in touch!</h1>
        </div>
        <div class="col-6">
            <h2>Email us:</h2>
            <p class="ps-5">m9ee9m@gmail.com</p>
            <br />
            <h2>Phone</h2>
            <p class="ps-5">01144906204</p>
            <br />
            <h2>Address</h2>
            <p class="ps-5">Egypt Fayoum</p>
        </div>
    </div>
</div>

{% endblock %}
