{% extends 'home/base.html' %}

<!-- content -->
{% block content %}

<style>
    .backg {
        background-image: url("https://imgs.search.brave.com/8BoVd5V4KkPnR1OHrXEH9TljhtGlsuqZ9ne9CT5eNBg/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93MC5w/ZWFrcHguY29tL3dh/bGxwYXBlci8yODEv/ODk4L0hELXdhbGxw/YXBlci1jb3NtaWMt/ZG9vZGxlLWRhcmst/ZG9vZGxlcy10aHVt/Ym5haWwuanBn");
    }
</style>

<div class="container backg text-white">
    <div class="row m-5">
        <div class="col-6 d-flex justify-content-center align-items-center">
            <h1>Keep in touch!</h1>
        </div>
        <div class="col-6">
            <h2>Email us:</h2>
            <p class="ps-5">m9ee9m@gmail.com</p>
            <br />
            <h2>Phone</h2>
            <p class="ps-5">01144906204</p>
            <br />
            <h2>Address</h2>
            <p class="ps-5">Egypt Fayoum</p>
        </div>
    </div>
</div>

{% endblock %}
